<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lab5Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Students">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Students
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Teachers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Teachers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Journal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Journal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Attendance">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Attendance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AverageGrade">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> AverageGrade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StudentCard">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> StudentCard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TeachersByClass">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TeachersByClass
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TeachersBySubject">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TeachersBySubject
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AverageGradeBySubject">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> AverageGradeBySubject
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubjectsByClass">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SubjectsByClass
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
